[Unit]
DefaultDependencies=false

[Service]
Type="oneshot"
RemainAfterExit=true
ExecStart="/usr/bin/mv /run/udev /run/udev_back ; /usr/bin/mkdir -p /run/devmaster ; /usr/bin/cp -r /run/udev_back/data /run/devmaster/ ; /usr/bin/ln -sf /run/devmaster /run/udev"
