[Unit]
Description=CN
Documentation=192.168.1.1
Requires=test.service
Conflicts = "config.service

[Service]
Type=Simple
ExecCondition=/usr/bin/sleep 5
ExecStart=/bin/echo 'test'
ExecStop=/bin/kill $MAINPID
WatchdogUSec=10


[Install]
WantedBy=dbus.service
