[package]
name = "timer"
version = "1.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
basic = { path = "../../../libs/basic", default-features = false, features = [
    "machine",
    "config",
] }

log = { path = "../../../libs/log" }
macros = { path = "../../../libs/macros" }
core = { path = "../../libcore", default-features = false }
event = { path = "../../../libs/event" }
unit_parser = { path = "../../../libs/unit_parser" }

nix = { version = "0.24", default-features = false }
once_cell = { version = "1.8.0", default-features = false }
serde = { version = "1.0.130", default-features = false }
rand = "0.8.5"
chrono = "0.4.26"
