[Unit]
Description=Network Manager Service
Requires=dbus.service
After=dbus.service

[Service]
ExecStart=/usr/sbin/NetworkManager --no-daemon
KillMode=process

[Install]
WantedBy=multi-user.target
