[Unit]
Description="OpenSSH ecdsa Server Key Generation"
ConditionFileNotEmpty="|!/etc/ssh/ssh_host_ecdsa_key"

[Service]
Type="oneshot"
EnvironmentFile="-/etc/sysconfig/sshd"
ExecStart="/usr/libexec/openssh/sshd-keygen ecdsa"

[Install]
WantedBy="sshd-keygen.target"
