#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
DefaultDependencies=false
ConditionPathIsReadWrite=/sys

[Socket]
Service=udevd.service
ListenSequentialPacket=/run/udev/control
SocketMode=600
PassCredentials=true
RemoveOnStop=true
