<?xml version="1.0" encoding="utf-8"?>

<image name="sysmasterwithbusybox">
	<description type="boot">
		<author>openEuler</author>
		<contact>openEuler.org</contact>
		<specification>sysmaster run with busybox image</specification>
	</description>
	<preferences>
		<type image="tbz"/>
		<version>1.0</version>
		<packagemanager>yum</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
	</preferences>
	<users group="root">
		<!-- passwd:sysmaster -->
		<user pwd="$6$B7617/ydaTMJJxzS$38OUjZNHDRVSfHx6wzvHtdCXHuv71fMNK2LLOBV/KH3MJNeDCEd0mDZxBqde9yvyqFwKA/Izn/obHaSi8jw5Q/" home="/root" name="root"/>
	</users>
	<repository>
		<source path="nope"/>
	</repository>
	<packages type="bootstrap" patternType="plusRecommended">
		<package name="kernel.aarch64"/>
		<package name="bash.aarch64"/>
		<package name="busybox.aarch64"/>
		<package name="filesystem.aarch64"/>
		<package name="gawk.aarch64"/>
		<package name="glibc.aarch64"/>
		<package name="glibc-common.aarch64"/>
		<package name="gmp.aarch64"/>
		<package name="keyutils.aarch64"/>
		<package name="kmod.aarch64"/>
		<package name="krb5.aarch64"/>
		<package name="libsemanage.aarch64"/>
		<package name="nss-softokn.aarch64"/>
		<package name="openssh.aarch64"/>
		<package name="openssh-clients.aarch64"/>
		<package name="openssh-server.aarch64"/>
		<package name="openssl.aarch64"/>
		<package name="openssl-libs.aarch64"/>
		<package name="pam.aarch64"/>
		<package name="passwd.aarch64"/>
		<package name="setup.noarch"/>
		<package name="shadow.aarch64"/>
		<package name="sudo.aarch64"/>
		<package name="util-linux.aarch64"/>
		<package name="vim-enhanced.aarch64"/>
	</packages>
</image>
