[Unit]
Description=Requisite service
Requisite=base.service
# Requisite must be used with After, otherwise Requisite will be skipped
After=base.service

[Service]
ExecStart=/bin/sleep 100
