[Unit]
Description=restart 002 service

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/bin/aaa
Restart=
# to avoid restart too frequently to reach start limit rate
RestartSec=2
