[Unit]
Description="OpenSSH rsa  Server Key Generation"
ConditionFileNotEmpty="|!/etc/ssh/ssh_host_rsa_key"

[Service]
Type="oneshot"
EnvironmentFile="-/etc/sysconfig/sshd"
ExecStart="/usr/libexec/openssh/sshd-keygen rsa"

[Install]
WantedBy="sshd-keygen.target"
