[Unit]
Description=syslog socket
DefaultDependencies=false
After=sysctl.service

[Socket]
ListenDatagram=/dev/log
ReceiveBuffer=8196
PassCredentials=true
PassSecurity=true

[Install]
WantedBy=syslog.target
